<html>
 <head>
  <title>Add new Entry</title>
  <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "prototype" %>
 </head>
 <body>
 <h1>Add new Entry</h1>
<%= flash[:warning] || flash[:message] || flash[:notice] %>
<% form_for :entry, :url => {:action => 'saveapi'} do |form| %>
<p>Title: <%= form.text_field :title %> </p>
<p>Notes: <%= form.text_field :notes %> </p>
 <p>Tags: <%= text_field_tag "tag_list" , @entry.tags.collect{|t| t.name}.join(" "),
							:size => 40 %> (comma separated)</p>
<p>Starting: <%= form.date_select :start_dt %> </p>
<p>Ending:  <%= form.date_select :end_dt %> </p>

<p><h2>Repeats</h2></p>
<p>
<%= select 'entry', 'freq_type', @freqtypes.sort.collect{|k| [ k[1],k[0] ]},   :selected => '1'  %>

<div id= 'freq_interval'>
<%= select 'entry' , 'freq_interval' , @freqintervals.map {|k, v| [ v, k ]} %>
</div>

</p>
<br/>
<br/>

<%= submit_tag "Add" %>

<% end %>
 

 </body>
</html>
