Here are your account details. <br/>

  Username: <%= @user.login %> <br/>
  Password: <%= @user.password %> <br/>

Visit your home page and start planning away: <br/>

 <%= link_to @url, @url %>  <br/>
 
The PlannerBee team