Hi <%= @user.login %>,<br/>

We are glad to welcome you to the PlannerBee community.<br/>

Your account has been created.<br/>

  Username: <%= @user.login %><br/>
  Password: <%= @user.password %><br/>

Your page is waiting for you at:<br/>

 <%= link_to @url, @url %>  <br/>
 
First, Please visit this url to activate your account:<br/>

   <%= link_to @activationurl, @activationurl %>  <br/>
   
The PlannerBee team