<div class="row">
  <span class="label">My email address:</span>
  <span	class="formw"><%= text_field_tag 'email' %></span>
</div>

<div class="spacer">
  &nbsp;
</div>
<div id="reqpasswd">
        <%= submit_tag 'Send it to me', :disable_with => "Sending&hellip;" %> 
</div>
<div class="spacer">
  &nbsp;
</div>