
  <li class= li_<%= bookmark_item.bookmark.id %> id= li_today_<%= bookmark_item.bookmark.id %>  >


 <%= render(:partial => "shared/bookmark_item_details", :locals => {:bookmark_item => bookmark_item, :outline => outline }) %>	 
  
  </li>							 

						 
