 <li  class= li_<%= overdue_item.bookmark.id %> id= li_overdue_<%= overdue_item.bookmark.id %> >

 <%= render(:partial => "overdue_item_details", :locals => {:overdue_item => overdue_item }) %>	 
</li>



