Yohoo! You've got comment.<br/> 
<p> 
Comment says <em><%= @comment_type %></em>
</p>
 <br/>
<p>
  Comment details:
  <%= @description %>
 </p>  
   <br/> <br/>

 
 <p>
 <hr/>
 <h4 style="color:#0077BB;font-family:helvetica;"><em>Sent via</em> <%= link_to " PlannerBee", "http://www.plannerbee.com" %> </h4>
<h5 style="color:#80C00C;font-family:helvetica;">It is not about <em>what</em> you do but <em>how. </em></h5>
 <hr/>
</p>
