<div id="footer">
      <ul>
            <li><a href="/" title="Main Page">© 2008 PlannerBee</a></li>
            <li><a href="/" title="About StreamLife">About Us</a></li>
            <li><a href="/" title="Help">Privacy Policy</a></li>
            <li><a href="/" title="Terms of Use">Terms of Use</a></li>      
      </ul>    
</div>
