<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
<head>
    <title>PlannerBee, one place to store,schedule,organize your tasks along with relevant bookmarks and feed posts</title>
    <link type="text/css" rel="stylesheet"  href="/stylesheets/tasks.css"/>
	<link type="text/css" rel="stylesheet"  href="/stylesheets/main.css"/>
       <%= stylesheet_link_tag "in_place_styles" %>
	<%= javascript_include_tag :defaults, :cache => true %>		
	<%= javascript_include_tag "in_place_select_editor" %>
</head>
<body align="center">
<div id="header">
    <div id="logo">
		<img src="/images/pb-logo.png" alt="" /><br />
                 <span  class="tagline">It is not about <em><span style="color:red">what</span></em> you do but <em><span style="color:red">how.</span> </em></span>
        <span></span>
	</div>

    
    <ul id="user_action">
        <% if logged_in? %>
            <li id="nav_loggedin">Welcome <a href="/home"><%= current_user.login %></a> | <a href="/logout">Log out</a></li>
        <% else %>
            <li id="Li1"><a href="/signup">Signup</a>	| <a href="/login">Log in</a></li>	
        <% end %>
	    	    
    </ul>

	
</div>

<div id="main"> 
      <% if current_user %>
         <%= render :partial => 'layouts/tab_display' %>
      <% end %>	

      <%= image_tag 'loading.gif', :id=>'spinner', :style=>"display:none;" %>
      <%= @content_for_layout %>

      <%= render :partial => 'layouts/footer' %>
</div>

  
 </body>
</html>
